* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}


.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}


main {
  text-align: center;
  padding: 30px 10%;
  flex: 1;
}

.grid-productos,
.Tienda-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-top: 30px;
}

footer {
  background: #2b3035;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.consultas {
  margin-top: 100px;
}

@media (min-width: 992px) {
    .navbar-collapse {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}